.afw-ui-component-text {
    
    &.afw-ui-component-error {
        input {border: 2px solid $error-border-color;}
    }
    
    input {
        border-radius: 3px;
        margin: 0;
        width: 250px;
    }
}