/**
 * Create a named animation sequence that can be applied to elements later.
 * 
 * @see https://github.com/ericam/compass-animation
 *
 * $name    - The name of your animation.
 * @content - The keyframes of the animation.
 */
@mixin keyframes( $name ) {
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

/**
 * Shortcut to apply a named animation to an element, with all the settings.
 */
@mixin animation( $animation ) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
    animation: $animation;
}

@include keyframes(zoom) {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.20, 1.20);
  }
}