.ao-multi-field {
    
    .sub-field {
        display: block;
        margin: 10px 0;
        
        .title {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: bold;
            margin: 10px 10px 10px 0;
        }
    }
}