/* Checkbox
---------------------------------------*/

.amarkal-widget.row.checkbox {
	
	+ .amarkal-widget.row.checkbox {
		margin-top: -5px; // Make consequtive checkboxes close to eachother
	}
	
	> label {
		@include border-radius(0 $corner-radius $corner-radius 0);
		border-top-width: 1px;
		border-bottom-width: 1px;
		border-right-width: 1px;
		z-index: 1; // Hide right end behind label
		font-size: 12px;
		display: inline-block;
		@include background(linear-gradient(top, $label-bg-color, #f3f3f3));
	}
	
	.component-wrapper {
		padding: 1px 5px 4px;
		@include border-radius($corner-radius 0 0 $corner-radius);
		border-width: 1px;
		display: inline-block;
		margin-right: -4px;
		
		input {
			@include border-radius($corner-radius - 1px);
			margin: 0 0 0 -1px;
		}
	}
}