/* Color Picker
---------------------------------------*/

.amarkal-widget.row.colorpicker {
	
	> label {
		@include border-radius($corner-radius $corner-radius $corner-radius 0);
		display: inline-block;
		margin-bottom: -3px;
		border-top-width: 1px;
		border-left-width: 1px;
		border-right-width: 1px;
	}
	
	.component-wrapper {
		padding: 5px;
		@include border-radius(0 $corner-radius $corner-radius);
		border-width: 1px;
		
		.wp-picker-container {
			width: 100%;
			
			.wp-color-result {
				margin: 0 auto;
				width: 88%;
				display: block;
				outline: 0;
				
				&.wp-picker-open {
					width: 100px;
					display: inline-block;
					margin-right: 6px;
				}
			}
			
			.wp-picker-clear {
				outline: 0;
			}
		}
	}
}