
// Common
$label-bg-color: #fafafa;
$corner-radius: 5px;
$border-color: #ddd;

// Error
$error-border: rgb(228, 97, 87);
$error-bg: #ffecec;

// Tooltips
$tooltip-arrow-width: 5px;
$tooltip-arrow-color: #000;
$tooltip-bg: #000;
$tooltip-color: white;
$tooltip-max-width: 300px;
$tooltip-opacity: 0.8;
