@import 'compass/css3';
@import '_transition';

/* Options Page Header 
------------------------*/
$border: 1px solid #C4C4C4;
$background-color: rgb(236, 240, 241);

$theme-color-1: #a9b5bc;
$theme-color-2: #88949a;
$theme-color-3: #547c90;
$error-border-color: rgb(218, 52, 52); 

// Responsive media break points
$break-small: 776px;
$break-large: 920px;

$field-title-width: 150px;

// rtl fixes
body.rtl {
    .amarkal-options {margin: 0 -20px 0 0 !important;}
    .amarkal-options .ao-notification {left:0}
}
body {
    .amarkal-options {margin-left: -20px;}
}

#wpwrap {width:auto} // color-picker fix

.amarkal-options {
     margin: 0;
     
     .updated,
    .error {
        position: absolute;
        width: 94%;
        top: 10px;
        right: 2%;
        padding: 5px 1% !important;
    }
     
    .banner {
        position: relative;
        height: 145px;
        text-align: right;
        padding: 50px 100px;
        overflow: hidden;
        
        h1 {
            position: absolute;
            z-index: 1;
            top: 30px;
            right: 150px;
        }
        
        p {
            position: absolute;
            z-index: 1;
            margin: 5px 0;
            right: 150px;
            top: 65px;
        }
        
        a {
            position: absolute;
            z-index: 1;
            right: 150px;
            top: 90px;
            text-decoration: none;
            
            &:hover {border-bottom: 2px solid}
        }
        
        img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    
    .main-menu {
        font-size: 0;
        border-bottom: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 3px solid rgba(255, 255, 255, 0.4);
        @include background-image(linear-gradient($theme-color-1, $theme-color-2));
        
        a {
            position: relative;
            font-size: 15px;
            font-weight: bold;
            padding: 15px 20px;
            display: inline-block;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.25);
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            outline: none;
            @include text-shadow( 0 -1px rgba(0, 0, 0, 0.35) );
            @include border-radius( 3px );
            
            &:hover, &.active {
                color: white;
                @include background-image(linear-gradient($theme-color-2, $theme-color-1));
                @include box-shadow( inset 0 5px 10px rgba(0, 0, 0, 0.3) );
            }
            
            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    border-width: 10px;
                    border-color: transparent;
                    border-style: solid;
                    border-bottom-color: rgba(0, 0, 0, 0.3);
                    bottom: -4px;
                    left: 50%;
                    margin-left: -10px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    border-width: 10px;
                    border-color: transparent;
                    border-style: solid;
                    border-bottom-color: $theme-color-3;
                    bottom: -6px;
                    left: 50%;
                    margin-left: -10px;
                }
            }
            
            .fa-exclamation-triangle {
                color: rgb(255, 242, 0);
                vertical-align: middle;
                margin-right: 5px;
            }
            
            .number {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgb(255, 150, 63);
                display: inline-block;
                text-align: center;
                font-size: 10px;
                line-height: 15px;
                color: $theme-color-2;
                vertical-align: middle;
                @include text-shadow( 0 1px 0 rgba(255, 255, 255, 0.6) );
                @include box-shadow( 0 -1px 0 rgba(0, 0, 0, 0.3) );
            }
        }
    }
    
    .sub-menu {
        background-color: $theme-color-3;
        min-height: 10px;
        @include box-shadow( inset 0 0 5px rgba(0, 0, 0, 0.3));
        
        a {
            font-size: 12px;
            font-weight: bold;
            margin: 5px 10px;
            padding: 2px 15px;
            display: inline-block;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            @include text-shadow( 0 -1px rgba(0, 0, 0, 0.35) );
            
            &:hover,
            &.active {
                background-color: rgba(255, 255, 255, 0.2);
                color: white;
            }
        }
    }
    
    .sections {
        display: table;
        width: 100%;

        .section {
            display: table-row;
            
            .section-fields {
                display: table-cell;
                vertical-align: top;
                
                .section-notifications p {
                    background-color: #FFFBAE;
                    color: #ABA200;
                    padding: 5px 15px;
                    margin: 0;
                    border-left: 5px solid #ABA200;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    
                    &:before {
                        font-family: "fontAwesome";
                        content: "\f071";
                        margin-right: 10px;
                    }
                }
                
                .field-wrapper {
                    display: table;
                    width: 100%;

                    .field-title {
                        display: table-cell;
                        width: $field-title-width;
                        background-color: $theme-color-1;
                        border-top: 1px solid rgba(255, 255, 255, 0.2);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                        position: relative;
                        padding: 5px 5px 5px 40px;
                        vertical-align: middle;
                        
                        .title {
                            
                        }
                        
                        .help {
                            cursor: help;
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            background-color: rgba(0, 0, 0, 0.1);
                            border-radius: 50%;
                            line-height: 20px;
                            text-align: center;
                            top: 50%;
                            margin-top: -10px;
                            left: 10px;
                            font-size: 12px;
                            font-weight: bold;
                            color: white;
                            @include box-shadow( inset 0 -1px 0 rgba(255, 255, 255, 0.5),inset 0 1px 0 rgba(0, 0, 0, 0.3) );
                        }
                        
                        &:before {
                            content: "";
                            border-width: 6px;
                            border-style: solid;
                            border-color: transparent;
                            border-left-color: rgba(0, 0, 0, 0.7);
                            right: -12px;
                            top: 50%;
                            margin-top: -6px;
                            position: absolute;
                        }
                        
                        &:after {
                            content: "";
                            border-width: 6px;
                            border-style: solid;
                            border-color:transparent;
                            border-left-color: $theme-color-1;
                            right: -11px;
                            top: 50%;
                            margin-top: -6px;
                            position: absolute;
                        }
                    }
                    .field {
                        display: table-cell;
                        font-size: 0;
                        padding: 5px 15px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        vertical-align: middle;
                        
                        .afw-ui-component-disabled {@include opacity( 0.6 )}
                    }
                    
                    &.field-updated {
                        border-left: 5px solid rgb(255, 150, 63);
                        .field-title {width: $field-title-width - 5;}
                    }
                    
                    &.field-disabled {
                        @include opacity( 0.8 );
                    }
                }
            }
            
            .section-help {
                display: table-cell;
                width: 250px;
                background-color: white;
                @include box-shadow( inset 4px 0 2px -2px rgba(0, 0, 0, 0.2) );
                
                h2 {
                    padding: 0;
                    margin: 10px;
                    font-size: 18px;
                    line-height: 18px;
                    
                    i {
                        padding: 5px;
                        background-color: $theme-color-3;
                        color: white;
                    }
                }
                
                h3 {
                    font-size: 14px;
                    font-weight: normal;
                    margin: 10px;
                    font-style: italic;
                }
                
                p {
                    margin: 10px;
                }
            }
        }
    }
    
    .footer {
        border-bottom: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 3px solid rgba(255, 255, 255, 0.4);
        display: table;
        width: 100%;
        @include background-image(linear-gradient($theme-color-1, $theme-color-2));
        
        .content {
            display: table-cell;
            padding: 10px;
            
            .icon,
            .text {
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
            }
        }
        
        .form-control {
            display: table-cell;
            width: 200px;
            text-align: center;
            vertical-align: middle;
            
            button {
                display: inline-block;
                border-width: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.6);
                position: relative;
                color: rgba(255, 255, 255, 0.8);
                font-weight: bold;
                padding: 0 10px 0 0;
                cursor: pointer;
                outline: none;
                margin: 0 5px;
                @include box-shadow( 0 0 0px 1px rgba(0,0,0,0.6), inset 0 -12px 15px rgba(0, 0, 0, 0.3) );
                @include text-shadow( 0 -1px 0 rgba(0, 0, 0, 0.4) );
                @include border-radius( 4px );
                
                
                i {
                    display: inline-block;
                    border-right: 1px solid rgba(0, 0, 0, 0.15);
                    line-height: 24px;
                    width: 20px;
                    margin-right: 5px;
                }
                
                ul {
                    position: absolute;
                    display: none;
                    bottom: 115%;
                    right: -10px;
                    left: -10px;
                    margin: 0;
                    border-style: solid;
                    border-width: 1px;
                    border-bottom-color: rgba(0, 0, 0, 0.4);
                    border-top-color: rgba(255, 255, 255, 0.7);
                    border-right-color: transparent;
                    border-left-color: transparent;
                    @include border-radius( 4px );
                    
                    li {
                        padding: 5px;
                        margin: 0;
                        
                        &:hover {
                            background-color: rgba(255,255,255,0.2);
                        }
                    }
                }
                
                &.orange, &.orange ul {background-color: #E87D28}
                &.blue,  &.blue ul {background-color: #547c90}
                
                &.active {
                    &.orange i {@include background-image(linear-gradient(#B55200,#E87D28));}
                    &.blue i {@include background-image(linear-gradient(#436373,#547c90));}
                    ul {display:block}
                }
                
                &:hover {@include box-shadow( 0 0 0px 1px rgba(0,0,0,0.6), inset 0 -10px 10px rgba(0, 0, 0, 0.4) );}
            }
        }
    }
    
    .ao-subfooter {
        margin: 0 15px;
    }
    
    .ao-notification {
        background-color: white;
        position: fixed;
        left: 160px;
        top: 32px;
        margin: 15px;
        padding: 2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 250px;
        z-index: 99;
        
        p {
            border-left-width: 5px;
            border-left-style: solid;
            margin: 0;
            padding: 10px 25px 10px 10px;
        }
        
        .ao-notification-button {
            position: absolute;
            right: 0;
            top: 0;
            margin: 5px;
            padding: 2px 4px;
            background-color: rgb(234, 234, 234);
            color: white;
            cursor: pointer;
            
            &:hover {background-color: rgb(200, 200, 200);}
        }
        
        &.notifier-success p {border-left-color: rgb(66, 211, 66);}
        &.notifier-error p {border-left-color: #D34242;}
    }
}