.afw-ui-component-spinner {

    .ui-spinner {
        font-size: 0;
        
        .ui-spinner-button {
            display: inline-block;
            font-size: 14px;
            padding: 0 6px;
            border: 1px solid rgba(0,0,0,0.3);
            color: #444;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            line-height: $component-height;
            height: $component-height;
            vertical-align: middle;
            @include background-image(linear-gradient($theme-color-1, $theme-color-2));
            @include box-shadow( inset 0 -1px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.5), 0 1px 2px rgba(0, 0, 0, 0.3) );
            @include text-shadow( 0 1px 0 rgba(255,255,255,0.3) );
            @include box-sizing( border-box );
            
            &:first-child {@include border-radius( 5px 0 0 5px )}
            &:last-child {@include border-radius( 0 5px 5px 0 )}
            &:hover {@include background-image(linear-gradient( $theme-color-2, $theme-color-1 ));}
            
            .fa {vertical-align: middle;}
        }
        
        .ui-spinner-input {
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #ccc;
            border-left: none;
            border-right: none;
            width: 50px;
            text-align: center;
            outline: none;
            padding: 0 6px;
            margin:0;
            line-height: $component-height;
            height: $component-height;
            vertical-align: middle;
            font-size: 14px;
            @include box-sizing( border-box );
            @include user-select(none);
        }
    }
}