/* Date Picker
---------------------------------------*/
/* line 8, ../sass/datepicker.scss */
.amarkal-widget.row.datepicker > label {
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  -ms-border-radius: 5px 5px 5px 0;
  -o-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
  display: inline-block;
  margin-bottom: -3px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
/* line 17, ../sass/datepicker.scss */
.amarkal-widget.row.datepicker .component-wrapper {
  padding: 5px;
  -webkit-border-radius: 0 5px 5px;
  -moz-border-radius: 0 5px 5px;
  -ms-border-radius: 0 5px 5px;
  -o-border-radius: 0 5px 5px;
  border-radius: 0 5px 5px;
  border-width: 1px;
}
/* line 22, ../sass/datepicker.scss */
.amarkal-widget.row.datepicker .component-wrapper input {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 86%;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, #f3f3f3, #fafafa);
  background: -moz-linear-gradient(top, #f3f3f3, #fafafa);
  background: -o-linear-gradient(top, #f3f3f3, #fafafa);
  background: linear-gradient(top, #f3f3f3, #fafafa);
}
/* line 29, ../sass/datepicker.scss */
.amarkal-widget.row.datepicker .component-wrapper .datepicker-button {
  background-image: url(../img/datepicker-icon.png);
  background-size: 30px;
  width: 30px;
  height: 27px;
  display: inline-block;
  float: right;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Date Picker Widget
---------------------------------------*/
/* line 45, ../sass/datepicker.scss */
.ui-datepicker {
  background-color: #333;
  padding: 7px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
/* line 51, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #c3c3c3));
  background: -webkit-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: -moz-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: -o-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: linear-gradient(top, #fcfcfc, #c3c3c3);
  padding: 3px 10px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  text-shadow: 0 1px 0 white;
}
/* line 58, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-next,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 63, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: 0;
}
/* line 69, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  float: left;
}
/* line 73, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
}
/* line 78, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-calendar {
  border-spacing: 0;
}
/* line 81, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-calendar thead {
  background-color: #888;
}
/* line 86, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-calendar td,
.ui-datepicker .ui-datepicker-calendar th {
  text-align: center;
  vertical-align: middle;
}
/* line 91, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-calendar a {
  display: inline-block;
  width: 30px;
  height: 25px;
  line-height: 25px;
  border-style: solid;
  border-width: 1px;
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
  border-bottom-color: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #c3c3c3));
  background: -webkit-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: -moz-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: -o-linear-gradient(top, #fcfcfc, #c3c3c3);
  background: linear-gradient(top, #fcfcfc, #c3c3c3);
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}
/* line 108, ../sass/datepicker.scss */
.ui-datepicker .ui-datepicker-calendar a:hover, .ui-datepicker .ui-datepicker-calendar a:active, .ui-datepicker .ui-datepicker-calendar a.ui-state-active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c3c3), color-stop(100%, #fcfcfc));
  background: -webkit-linear-gradient(top, #c3c3c3, #fcfcfc);
  background: -moz-linear-gradient(top, #c3c3c3, #fcfcfc);
  background: -o-linear-gradient(top, #c3c3c3, #fcfcfc);
  background: linear-gradient(top, #c3c3c3, #fcfcfc);
}

/* line 116, ../sass/datepicker.scss */
#ui-datepicker-div {
  display: none;
}
