/* Seperator
---------------------------------------*/
/* line 7, ../sass/seperator.scss */
.amarkal-widget.row.seperator {
  text-align: center;
  border: 1px solid #dddddd;
  background-color: #fafafa;
  height: 3px;
  margin: 35px -5px 20px;
  padding-bottom: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 16, ../sass/seperator.scss */
.amarkal-widget.row.seperator > span {
  background-color: white;
  padding: 0 12px;
  position: relative;
  top: -7px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-radius: 5px;
}
