/* Textfield
---------------------------------------*/
/* line 7, ../sass/textfield.scss */
.amarkal-widget.row.textfield {
  position: relative;
}
/* line 10, ../sass/textfield.scss */
.amarkal-widget.row.textfield > label {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: -5px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  max-width: 200px;
}
/* line 22, ../sass/textfield.scss */
.amarkal-widget.row.textfield > input {
  box-shadow: 0 0 0px 4px #fafafa, 0 0 0px 5px #dddddd;
  border-radius: 0 1px 1px;
  margin-bottom: 4px;
}
/* line 28, ../sass/textfield.scss */
.amarkal-widget.row.textfield.error > input {
  border: 1px solid #e46157;
  background-color: #ffecec;
}
