.afw-ui-component-checkbox {
    label {
        display: block;
        vertical-align: middle;
        line-height: 20px;
        margin-bottom: 5px;
        font-size: 14px;
        
        input {
            vertical-align: middle;
            margin: 0;
        }
    }
}