.afw-ui-component-code-editor {
    
    .afw-ui-ace-editor {
        border-radius: 3px;
        margin: 0;
        height: 200px;
        margin: 10px 0;
        border: 3px solid $theme-color-2;
    }
}