.afw-ui-component-content {
    font-size: 14px;
    
    .aligncenter {clear: both; display: block; margin-left:auto; margin-right: auto;}
    .alignleft {float:left;margin-right:10px}
    .alignright {float:right;margin-left:10px}
    
    img {margin-top:10px;margin-bottom:10px}
    
    ul {
        padding-left: 28px;
        list-style-type: square;
    }
}